body {
	margin: 0;
}

header {
	position: relative;
	top: 0;
	left: 0;
	height: 5rem;
	width: 100%;
	background-color: turquoise;
}

header > h1 {
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.box {
	display: grid;
	padding: 2rem;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.photoId {
	grid-column: 1;
	grid-row: 1;
}

.description {
	grid-column: 2/5;
	grid-row: 1;
}

footer {
	background-color: turquoise;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 4rem;
	width: 100%;
}

footer > p {
	display: flex;
	justify-content: center;
}